{:kotoba.app/id "cloud.itonami.isic-6492", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreighibaddzx4jk6bctiq54v3omxhvw5kpitacpqcxsnvzu5fjxlt5m", :kotoba.app/embed-url "ipfs://bafkreighibaddzx4jk6bctiq54v3omxhvw5kpitacpqcxsnvzu5fjxlt5m", :published {:archive "https://kotobase.net/ipfs/bafkreighibaddzx4jk6bctiq54v3omxhvw5kpitacpqcxsnvzu5fjxlt5m", :size 74927, :put-status 201, :get-status 200, :at "2026-08-15T13:53:42.966Z"}}
